.choresText {
   color: chartreuse;
   font-family: 'Times New Roman', Times, serif; 
   font-style: italic;
   font-size: 1.5vw;
}

.choresHeading {
   color: chartreuse;
   text-underline-position: below;

}